html,
body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  width: 100%;
  max-width: 1242px;
  margin: 0 auto;
}

/* css */

.header-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.left-cont,
.right-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-brand {
  max-width: 110px;
}
.main-nav {
  list-style: none;
  display: inline-flex;
  flex-direction: row;
}
.nav-items {
  margin-right: 20px;
  color: #e5e5e5;
  opacity: 0.83;
}
.nav-items .active {
  color: white;
  opacity: 1;
  font-weight: 500;
}
.right-cont svg,
.right-cont img {
  margin-right: 22px;
  cursor: pointer;
}
.right-cont svg {
  color: white;
}
.right-cont img {
  max-width: 40px;
}
